<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <style>
        #mainBody {
            padding-top: 0px;
            padding-left: 2px;
            padding-bottom: 2px;
            padding-right: 2px;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">信息中心</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-username" style="font-size:24px"></i>
                        管理员
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="lay_DaoHang">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">信息登记</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-id="1">印章信息管理</a></dd>
                            <dd><a href="javascript:;" lay-id="2">使用单位信息管理</a></dd>
                            <dd><a href="javascript:;" lay-id="3">制作单位信息管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">生产管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-id="5">备案申请</a></dd>
                            <dd><a href="javascript:;" lay-id="6">刻章企业信息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">信息查询 </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" lay-id="8">印章信息查询</a></dd>
                            <dd><a href="javascript:;" lay-id="9">公告通知查询 </a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!--页面标签-->
        <div id="mainBody" class="layui-tab layui-tab-brief layui-body" lay-allowClose="true" lay-filter="lay_MainBody">
            <ul class="layui-tab-title">
                <li class="layui-this">主页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">@RenderBody()</div>
            </div>
        </div>
        @*<div class="layui-body">
                <!-- 内容主体区域 -->
                <div id="mainBody"></div>
            </div>*@

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;


            //$("#yinZhang").click(() => {
            //    element.tabChange(filter, layid);
            //    element.tabAdd('layMainBody', {
            //        title: '印章管理'
            //        , content: '<h1>Hello World</h1>' //支持传入html
            //        , id: '1'
            //    });
            //})


            var aciton = new Array();
            //监听左测导航选择
            element.on('nav(lay_DaoHang)', function (elem) {
                aciton.length = 0;

                $(".layui-tab.layui-tab-brief.layui-body li").each(function (data) {
                    aciton.push($(this).text().replace('ဆ', ''));
                });
                console.log(aciton);
                var isarr = $.inArray(this.text, aciton);//判断数据是否存在数组中
                console.log(isarr);
                //判断导航中文字是否存在tab中
                if (isarr == -1 && this.getAttribute('lay-id') != null) {
                    //增加选项卡
                    element.tabAdd('lay_MainBody', {
                        title: this.text
                        , content: '<h1>Hello World</h1>' //支持传入html
                        , id: this.getAttribute('lay-id')
                    });
                    element.tabChange("lay_MainBody", this.getAttribute('lay-id'));//获取当前选中的lay-id值
                }
                if (isarr >= 0) {
                    element.tabChange("lay_MainBody", this.getAttribute('lay-id'));
                }
            });
        });
    </script>
</body>

</html>
