@model IEnumerable<SealSystem.Models.SealInforNew>

@{
    if (!string.IsNullOrEmpty(HttpUtility.UrlDecode(Request.Cookies["ZXGC"].Value)))
    {
        List<string> list = JsonConvert.DeserializeObject<List<string>>(HttpUtility.UrlDecode(Request.Cookies["ZXGC"].Value));
        if (list.Any(m => m == Session["loginName"] + ":印章信息管理:Add")) { ViewBag.add = Html.Raw("<h2><span class='glyphicon glyphicon-plus'></span>" + @Html.ActionLink("增加印章", "Create") + "</h2>"); }
    }
}
<div class="container body">
    <div class="main_container">
        <!--右上角头像区-->
        @Html.Partial("~/Views/Shared/_PartialTopHeadImages.cshtml");
        <!--/右上角头像区-->
        <!--顶部导航-->
        <div class="top_nav">
            <div class="nav_menu">
                @Html.Partial("~/Views/Shared/_PartialTopNavigation.cshtml");
            </div>
        </div>
        <!--/顶部导航 -->
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                @*@ViewBag.add*@
                                <h2>
                                    <span class='glyphicon glyphicon-plus'></span>@Html.ActionLink("增加印章", "Create")
                                </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="datatable-seal" class="table table-striped table-bordered"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 上传模块 -->
        <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="uploadLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="uploadLabel">
                            上传证件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input id="input-card1" type="file" name="file">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 审核模块 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">进行审核</h4>
                    </div>
                    <div class="x_content">
                        <br>
                        <form id="form_infor" class="form-horizontal form-label-left input_mask">
                            <input type="text" name="SealInforId" class="form-control" disabled="disabled" style="display:none;">
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">印章编码</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="SealInforNum" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">印章类型</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="SealCategory" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">印章内容</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="SealContent" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12">外文内容</label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" name="ForeignLanguageContent" class="form-control" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">刻制类型</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" name="EngravingType" class="form-control" readonly="readonly"
                                           placeholder="Read-Only Input">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="product_gallery">
                                <a class="example-image-link" href="~/images/img.jpg" data-lightbox="example-1" title="test1">
                                    <img src="~/images/img.jpg" alt="...">
                                </a>
                                <a class="example-image-link" href="~/images/img.jpg" data-lightbox="example-1" title="test1">
                                    <img src="~/images/img.jpg" alt="...">
                                </a>
                                <a class="example-image-link" href="~/images/img.jpg" data-lightbox="example-1" title="test1">
                                    <img src="~/images/img.jpg" alt="...">
                                </a>
                                <a class="example-image-link" href="~/images/img.jpg" data-lightbox="example-1" title="test1">
                                    <img src="~/images/img.jpg" alt="...">
                                </a>
                            </div>
                            @* 审批文件列表 *@
                            <style>
                                .product_file li {
                                    list-style-type: square;
                                    margin: 0px;
                                    padding: 0px;
                                    height: 15px;
                                    line-height: 30px;
                                }

                                    .product_file li a {
                                        color: black;
                                        cursor: hand;
                                        font-size: 16px;
                                        text-decoration: none;
                                        border: 1px solid #F1F1F1;
                                        margin: 0px;
                                        padding-left: 1px;
                                        padding-right: 0px;
                                        padding-top: 0px;
                                        padding-bottom: 0px;
                                        position: relative;
                                        top: 0px;
                                        left: -1px;
                                    }
                            </style>
                            <div class="ln_solid"></div>
                            <div class="product_file">
                                <ul id="files"></ul>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="checkSuccess()">审核通过</button>
                        <button type="button" class="btn btn-primary" onclick="returnBack()">打回修改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        @Html.Partial("~/Views/Shared/_PartialFooter.cshtml");
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    const BASE_URL = "http://localhost:8003/api/";
    var table_instance = "";

    function init_upload(SealInforNum) {
        $("#input-card1").fileinput({
            language: 'zh',
            uploadAsync: 'false',
            uploadUrl: BASE_URL + "DataFile/updata?sealInforNum=" + SealInforNum + "&note=aa",
            // uploadExtraData:function(){ //如果想添加额外的参数，在这里设置
            //     var obj = {};
            //     obj.sealInforNum = sealId;
            //     return obj;
            // },
        }).on("fileuploaded", function (event, data, previewId, index) {
            result = data.response;
            console.log(result);
        }).on('fileerror', function (event, data, msg) {
            console.log("error");
        });
    }

    // 更新table
    function update_table() {
        console.log("here");
        // $("#datatable-seal").dataTable().fnDraw(false);
        table_instance.ajax.reload();
    }

    //初始化table
    function init_table() {
        //object可以如下初始化表格
        table_instance = $('#datatable-seal').DataTable({
            ajax: {
                url: BASE_URL + 'SealInforNew/allDetailed',
                dataSrc: ''
            },
            //使用对象数组，一定要配置columns，告诉 DataTables 每列对应的属性
            //data 这里是固定不变的，name，position，salary，office 为你数据里对应的属性
            columns: [
                { title: '申请日期 ', data: 'CreateTime' },
                { title: '印章编号', data: 'SealInforNum' },
                { title: '印章状态', data: 'SealState' },
                { title: '印章内容', data: 'SealContent' },
                { title: '登记类别 ', data: 'RegistrationCategory' },
                { title: '选项 ', data: null },
            ],
            aoColumnDefs: [
                {//倒数第一列
                    "targets": -1,
                    "bSortable": false,
                    render: function (data, type, row) {
                        // var html = "<p>"
                        // if(data.SealState=="已录入"){
                        //   html += "<a id=\"upload\" href=\"#\">上传证件</a>&nbsp;&nbsp;"
                        // }
                        // if(data.SealState=="待审核"){
                        //   html += "<a id=\"check\" href=\"#\">进行审核</a>&nbsp;&nbsp;"
                        // }
                        // if(data.SealState != "已备案" && data.SealState!="已取消"){
                        //   html +="<a id=\"cancel\"  href=\"#\">撤销</a>&nbsp;&nbsp;"
                        // }
                        // html += "</p>"


                        // 需要做条件判断，现在是调试模式，所以所有的状态都会出现，如果正式上线请参考上面注释来写
                        var html = "<p><a id=\"upload\" href=\"#\">上传证件</a>&nbsp;&nbsp;<a id=\"check\" href=\"#\">进行审核</a>&nbsp;&nbsp;<a id=\"cancel\"  href=\"#\">撤销</a>&nbsp;&nbsp;</p>"
                        return html;
                    }
                }
            ],
        });

        // 上传证件
        $('#datatable-seal tbody').on('click', 'a#upload', function () {
            $(".fileinput-remove-button").click();
            var data = $('#datatable-seal').DataTable().row($(this).parents('tr')).data();
            $('#modalUpload').modal('show')
            init_upload(data.SealInforNum)
            console.log("上传证件：", data);
            console.log("上传证件对应的印章id：", data.SealInforNum);
        });

        //判别路径后缀是不是图片格式
        function checkPic(filename) {
            var flag = false; //状态
            var arr = ["jpg", "png", "gif"];
            //取出上传文件的扩展名
            var index = filename.lastIndexOf(".");
            var ext = filename.substr(index + 1);
            //循环比较
            for (var i = 0; i < arr.length; i++) {
                if (ext == arr[i]) {
                    flag = true; //一旦找到合适的，立即退出循环
                    break;
                }
            }
            return flag
        }

        // 进行审核
        $('#datatable-seal tbody').on('click', 'a#check', function () {
            var data = $('#datatable-seal').DataTable().row($(this).parents('tr')).data();
            $('#myModal').modal('show')
            $("#form_infor input[name='SealInforNum']").val(data.SealInforNum);
            $("#form_infor input[name='SealCategory']").val(data.SealCategory.Name);
            $("#form_infor input[name='SealContent']").val(data.SealContent);
            $("#form_infor input[name='ForeignLanguageContent']").val(data.ForeignLanguageContent);
            $("#form_infor input[name='EngravingType']").val(data.EngravingType);
            $("#form_infor input[name='SealInforId']").val(data.Id);
            $(".product_gallery").html("");
            $("#files").html("")

            

            $.ajax({
                url: BASE_URL + "DataFile/filePath?sealInforNew_SealInforNum=" + data.SealInforNum,
                success: function (data) {
                    //const BASE = "http://222.223.125.68:8002"
                    const BASE = "http://localhost:8003"
                    console.log("审核", data);
                    for (var i = 0; i < data.length; i++) {
                        if (checkPic(data[i])) {
                            var temp = ''
                            temp += '<a class="example-image-link" href="' + BASE + data[i] + '" data-lightbox="example-1" title="test1">'
                            temp += '<img src="' + BASE + data[i] + '" alt="..."></a>'
                            $(".product_gallery").append(temp)
                        } else {
                            var temp = ''
                            var index = data[i].lastIndexOf("/");
                            var file_name = data[i].substr(index + 1);
                            temp += '<li><a  href="' + BASE + data[i] + '" >' + file_name+'</a></li>'
                            $("#files").append(temp)
                        }
                    }
                }
            })
            console.log("查看修改：", data);
        });
        /**
        * 撤销
        */
        $('#datatable-seal tbody').on('click', 'a#cancel', function () {
            var row_data = $('#datatable-seal').DataTable().row($(this).parents('tr')).data();
            $.ajax({
                url: BASE_URL + "SealInforNew/SetSealStateForCheXiao",
                data: { "id": row_data.Id },
                success: function (data) {
                    if (data.code == 200) {
                        update_table();
                        $('#myModal').modal('hide');
                    } else {
                        alert(data.ErrorMessage);
                    }
                }
            })
        })
    }


    //审核通过
    function checkSuccess() {
        var sealInforId = $("#form_infor input[name='SealInforId']").val();
        $.ajax({
            url: BASE_URL + "SealInforNew/SetSealStateForBeiAn",
            data: { "id": sealInforId },
            success: function (data) {
                if (data.code == 200) {
                    update_table();
                    $('#myModal').modal('hide');
                } else {
                    alert(data.ErrorMessage);
                }
            }
        })
        console.log(sealInforId)
    }

    //打回修改
    function returnBack() {
        var sealInforId = $("#form_infor input[name='SealInforId']").val();
        $.ajax({
            url: BASE_URL + "SealInforNew/SetSealStateForLuRu",
            data: { "id": sealInforId },
            success: function (data) {
                if (data.code == 200) {
                    update_table();
                    $('#myModal').modal('hide');
                } else {
                    alert(data.ErrorMessage);
                }
            }
        })
    }
    $(function () {
        init_table();
        //init_upload();
    })
</script>